//###   CUSTOM VARIABLES    ###

//---Color System---
//Grays
$white: #F5F5F5;
$gray-100: #D5D5D5;
$gray-300: #999999;
$gray-700: #444444;
$gray-800: #333333;
$gray-900: #222222;
//Colours
$blue: #007CED;
$yellow: #B19C00 ;

//---Theme System---
//Dark Theme
$dark: $gray-900;
$light-dark: $gray-100;

//---Font System---
$font-family-sans-serif: Helvetica,sans-serif;

//---Asset Attributes---
//!Global
$border-width: 2.5px;

//Cards Style
$card-bg: $dark;
$card-border-color: $gray-700;
$card-border-width: 5px;
$card-border-radius: 10px;
.card{
    margin-bottom: 1.5rem;
    width: 100%;
}
//Buttons Style
$btn-border-radius: 50px;
.btn-outline-primary{
    color: $white !important;
}
//Dropdown Style
$dropdown-dark-bg: $gray-800;
$dropdown-dark-border-color: $gray-800;
$dropdown-dark-link-hover-color: $light-dark;
$dropdown-dark-link-hover-bg: $gray-800;
$dropdown-dark-link-active-color: $light-dark;
$dropdown-dark-link-active-bg: $gray-800;
$dropdown-dark-divider-bg: $gray-300;
.dropdown:hover .dropdown-menu {
    margin-top: 2px;
    display: block;
}


//---Class Attributes---
.h2{
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
}
.nav-link{
    margin-left: 1.5rem !important;
}
.text-bg-light-dark{
    color: $light-dark;
}
html {
    scroll-behavior: smooth;
}
footer{
    margin-top: 1rem;
    background-color: $dark;
    border-top: 2px solid $light-dark;
}


#scrollToTopBtn {
    display: none;
    position: fixed;
    padding: 10px;
    bottom: 9.5%;
    right: 7.55%;
    border: none;
    background-color: #222222;
    outline: 2px solid #D5D5D5;
    border-radius: 100%;
    z-index: 999;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#scrollToTopBtn:hover::before {
    background-color: #444444;
}
.scrollToTopBtnImg{
    max-height: 25px;
}


//Import Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";